body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a6fc24;
    color: #f86b6b;
    text-align: center;
    padding: 10px;
   
    
}
img{
    border-radius: 100px;
}
nav {
    background-color: #d2b2b2;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;

    padding: 45px;
}
nav a{
    margin: 10px;
}

p{
    text-align: center;
    color: aqua;
}
main {
    padding: 20px;
   
    width: 100%;
    height: 100%;
    

}

footer {
    background-color: rgb(10, 1, 1);
    color: #341060;
    text-align: center;
    padding: 10px;
  
}

@media screen and (max-width: 600px) {

    header,
    nav,
    nav li a,
    main,
    footer {
        padding: 5px;
    }
}

